 <h1><%= @user.first_name %> <%= @user.last_name %></h1>
 <h2><%= @user.email %></h2>

 <hr>

 <% if current_user.following?(@user)%>
  <%= button_to "Unfollow", unfollow_path(@user) %>
<% elsif current_user.sent_follow_request_to?(@user) %>
  <%= button_to "Cancel follow request", cancel_path(@user) %>
<% else %>
  <%= button_to "Follow", follow_path(@user) %>
<% end %>
