<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid navbar-wrapper" id="top">

    <%# .navbar-left should contain left elements in navbar: logo, about, investor, founder %>
    <div class="navbar-left">
      <%# Display Bizzy logo on left %>
      <%= image_tag(asset_path('bizzy-logo3.png'), class: "navbar-left-logo") %>

      <%# Display links: About, Investors, Founders %>
      <ul class="navbar-left-links">
        <%# Display About link %>
        <li>
          <%= link_to "Home", "/home", class: "nav-link" %>
        </li>

        <%# Display Investor link %>
        <li>
            <% if user_signed_in? %>
              <%= link_to "Investor", "/investors/all", class: "nav-link" %>
            <% else %>
              <%= link_to "Investor", "#", class: "nav-link" %>
            <% end %>
        </li>

        <%# Display Founder link %>
        <li>
          <%= link_to "Founder", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>

    <div class="navbar-right">
      <ul class="navbar-right-useractions">

      <% if user_signed_in? %>
        <%# Displays behaviour for right navbar if user is logged in %>
        <% if current_user.founder.nil? %>
          <%# If no company, should display a button with label "Add your company" %>
          <%= link_to "Add your company", "/founders/new" %>
        <% else %>
          <%# If got company, should display a button with label "Edit profile" %>
          <%= link_to "My Profile", "/founders/#{current_user.founder.id}", class: "btn-sm solid" %>
        <% end %>

        <%# Display that yandao face as avatar %>
        <% if current_user.photo.key.nil? %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
        <% end %>

        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </ul>
      <% else %>
        <%# If user not logged in, display "Log in" and "Register" button on right of navbar %>
        <div class="navbar-right-useractions">
          <ul>
            <li>
              <%= link_to "Log In", new_user_session_path, class: "btn-sm outline" %>
            </li>
            <li>
              <%= link_to "Register", new_user_registration_path, class: "btn-sm solid" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>


</div>
