<% if false %>
  <% content_for(:navbar_class, "navbar-home") %>
<% end %>

<%# Hero wrapper + display text %>
<div class="hero-wrapper">
  <div class="container hero-section">
    <p class="hero-header display-2 extra-bold">
      Be the next unicorn in Singapore.
    </p>
    <p class="hero-text subheader semi-bold">
      We'll help you discover opportunities.
    </p>
  </div>
</div>

<%# Featured-investors card %>
<div class="featured-investors-wrapper">
  <%# Header for featured investors: Title + 'See all investors' %>
  <div class="featured-investors">
    <h1 class="s extra-bold">
      Featured investors
    </h1>
    <%= link_to "See all investors >", investors_path, class: "caption semi-bold" %>
  </div>

  <%# Iterate and show 3 investors in cards %>
  <div class="row investor-card-deck">
    <% @investors.first(3).each do |investor| %>
      <div class="investor-card">
        <div class="investor-card-image">
          <%= image_tag('featured-investor1.jpg')%>
        </div>
        <div class="investor-card-details">
          <%# `card-bio` is to configure the spacing between investor name and company %>
          <div class="investor-bio">
            <h3 class="investor-name bold">
              <%= investor.first_name %> <%= investor.last_name %>
            </h3>
            <h4 class="s semi-bold">
              <%= investor.company_name %>
            </h4>
          </div>
          <div class="investor-card-body body-s regular">
            <%= investor.company_description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# Hero wrapper - backup %>
<% if false %>
  <div class="banner">
    <div class="container flex">
      <h1 class="home">Be the next unicorn in Singapore</h1>
      <p class="home">We'll help you discover opportunities that await you</p>
    </div>
  </div>
<% end %>

<%# Featured investors - backup %>
<% if false %>
  <div class="container d-flex justify-content-center">
    <div class="container-investor">
      <div class="container investor-header">
        <h2 id="hover">Featured investors</h2>
        <%= link_to "View all investors >", investors_path %>
      </div>
      <div class="row d-flex align-self-stretch">
        <% @investors.first(3).each do |investor| %>
          <div class="col-sm-4 g-3">
            <div class="card text-center card-featured h-100">
              <img class="card-img-top" src="<%= asset_path('featured-investor1.jpg')%>" alt="Card image">

              <div class="card-body">
                <h5 class="card-title"><strong><%= investor.company_name %></strong></h5>
                <p class="card-text"><%= investor.company_description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!--<%== pagy_bootstrap_nav(@pagy) %>-->
    </div>
  </div>
<% end %>

<%# Featured startups - backup %>
<% if false %>
  <div class="container-startup">
    <div class="d-flex justify-content-between align-items-center">
      <h2 id="hover">Browse our startups</h2>
      <%= link_to "See all startups >", founders_path %>
    </div>
    <%# YL: Sector WIP - ignore for now %>
    <div class="row align-items-center">
      <% @sectors.first(3).each do |sector| %>
        <div class="col-4 col-lg-4 g-3">
          <div class="card text-center card-featured">
            <img class="card-img-top" src="<%= asset_path('featured-startup1.jpg')%>" alt="Card image" style="width: 330px; height: 150px;">

            <div class="card-body startup">
              <h5 class="card-title"><%= sector.name %></h5>
            <!--<a href= <%= sector_path(sector) %> class="btn btn-primary">Know more</a>-->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container-get-started">
  <div class="row justify-content-center align-items-center">
    <h1>Ready to get started?</h1>
    <p>Join our worldwide community now.</p>

    <form class="example" action="action_page.php">
    <input type="text" placeholder="Enter your email.." name="Join">
    <button type="submit" class="btn btn-primary">Join</button>
    </form>
</div>

<% if false %>
  <div class="container-fluid">
    <h2>Channels</h2>
    <div class="row mx-auto">
      <% @chatrooms.each do |chatroom| %>
        <div class="col-md-6">
            <p># <%= link_to chatroom.name, chatroom_path(chatroom) %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
