<%# Wrapper for the entire investors index page %>
<div class="investors-heading-wrapper">

  <%# Includes display title for investors index page %>
  <div class="heading-info">
    <h1 class="extra-bold">
      Meet our investors
    </h1>
  </div>

  <%# Includes search field %>
  <div class="search-investor">

    <%# Search field for investor index page %>
    <div class="search-field">
      <%= form_with url: investors_path, method: :get, html: {
        class: "", data: {search_investors_target: "form"}
      } do %>
        <%# Text field in search bar %>

        <%= text_field_tag :query,
        params[:query],
        class: "searchbar-test subheader-s semi-bold",
        placeholder: '  Search',
        data: {
          search_investors_target: "input"
        } %>

        <%# Submit button %>
        <%= submit_tag "Search", class: "btn-submit-search subheader-s bold" %>
      <% end %>
    </div>

  </div>

  <%# Includes acquisition banner (guest) or sector display (logged-in) %>
  <div class="custom-call-to-action">
    <% if user_signed_in? %>
      <div class="search-filter">
        <div class="body-s semi-bold">
          <p>Sector(s) that your company is in:</p>
        </div>
        <div class="search-filter-tags">
          <% @current_user.founder.sectors.each do |sector| %>
            <div class="search-tag caption-s semi-bold">
              <%= link_to sector.name, "/?sector=#{sector.name}" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="search-filter">
        <div class="body-s semi-bold">
          <p>Funding stage(s) that your company is in:</p>
        </div>
        <div class="search-filter-tags">
          <div class="search-tag caption-s semi-bold">
            <%= link_to @current_user.founder.funding_stage, "/?stage=#{@current_user.founder.funding_stage}" %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="acquisition-banner body-s semi-bold">
        <i class="fa-solid fa-circle-exclamation"></i>
        <p>
          <%= link_to "Sign up", new_user_registration_path %>
          or
          <%= link_to "sign in", new_user_session_path %>
          to see a personalised list of recommended investors
        </p>
      </div>
    <% end %>
</div>
<%# Wrapper for the entire investors index page %>
<div class="investors-show-wrapper">
  <div class="investors-show">
    <%# TBC - Counting number of results, e.g. "0 result for 'Enterprise' " %>
    <div class="investors-count caption-s semi-bold">
      <p>
        <% if user_signed_in? %>
          Showing <%= @filter_investors.count %> investors
        <% else %>
          Showing <%= @investors.count %> investors
        <% end %>
      </p>
    </div>

    <%# Merge with WK - Display investors %>
    <%# Handling for logged-out view %>
    <% if current_user.nil? %>
      <div class="investors-card-deck">
        <% @investors.take(30).each do |investor| %>
          <div class="image-flip">
            <div class="mainflip flip-0">

              <%# Structure for frontside of each investor card %>
              <div class="frontside">
                <div class="investor-card">
                  <div class="investor-card-profile">

                    <%# CHANGE THIS - IT'S STATIC IMG ATM %>
                    <% if investor.photo.key.nil? %>
                      <% investor_img = "https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
                    <% else %>
                      <% investor_img = cl_image_path(investor.photo.key)  %>
                    <% end %>
                  <%# CHANGE THIS - IT'S STATIC IMG ATM %>
                    <div class="investor-card-img" style="background-image: url(<%= investor_img %>);"></div>

                    <%# this is to store the damn investor name and title %>
                    <div class="investor-card-title">
                      <h3 class="s extra-bold"><%= investor.first_name %> <%= investor.last_name %></h3>
                      <p class="body semi-bold"><%= investor.company_name %></p>
                    </div>

                    <%# this is to store the sectors of each investor %>
                    <div class="investor-card-sectors">
                      <% investor.sectors.each do |sector| %>
                        <div class="sector-tag caption-s semi-bold">
                          <%= sector.name %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <%# Structure for backside of each investor card %>
              <div class="backside">
                <div class="investor-card">
                  <div class="investor-card-profile">
                    <div class="investor-card-title">
                      <h3 class="s extra-bold"><%= investor.company_name %></h3>
                      <p class="body regular"><%= investor.company_description %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <%# Handling for logged-in view %>
    <% else %>

        <%# Handlings for user search for sector %>
        <% if params[:sector].present? %>
          <div class="investors-card-deck" data-search-investors-target="list">
            <% @sector_investors.each do |investor| %>
              <%= render "modal", investor: investor %>

              <%# Start of individual card layout %>
              <a data-bs-toggle="modal" data-bs-target=<%= "#investor-#{investor.id}" %>>
                <div class="image-flip">
                  <div class="mainflip flip-0">

                    <%# Structure for frontside of each investor card %>
                    <div class="frontside">
                      <div class="investor-card" data-controller="favorite">
                        <div class="investor-card-profile">

                          <%# CHANGE THIS - IT'S STATIC IMG ATM %>
                            <% if investor.photo.key.nil? %>
                              <% investor_img = "https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
                            <% else %>
                              <% investor_img = cl_image_path(investor.photo.key)  %>
                            <% end %>
                          <%# CHANGE THIS - IT'S STATIC IMG ATM %>
                            <div class="investor-card-img" style="background-image: url(<%= investor_img %>);"></div>

                          <%# this is to store the damn investor name and title %>
                          <div class="investor-card-title">
                            <h3 class="s extra-bold"><%= investor.first_name %> <%= investor.last_name %></h3>
                            <p class="body semi-bold"><%= investor.company_name %></p>
                          </div>

                          <%# this is to store the sectors of each investor %>
                          <div class="investor-card-sectors">
                            <% investor.sectors.each do |sector| %>
                              <div class="sector-tag caption-s semi-bold">
                                <%= sector.name %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <%# Structure for backside of each investor card %>
                    <div class="backside">
                      <div class="investor-card" data-controller="favorite">
                        <div class="investor-card-profile">
                          <div class="investor-card-title" >
                            <h3 class="s extra-bold"><%= investor.company_name %></h3>
                            <p class="body regular"><%= investor.company_description %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <%# End of individual card layout %>
            <% end %>
          </div>

        <% elsif params[:stage].present? %>
          <div class="investors-card-deck" data-search-investors-target="list">
            <% @stage_investors.each do |investor| %>
              <%= render "modal", investor: investor %>

               <%# Start of individual card layout %>
              <a data-bs-toggle="modal" data-bs-target=<%= "#investor-#{investor.id}" %>>
                <div class="image-flip">
                  <div class="mainflip flip-0">

                    <%# Structure for frontside of each investor card %>
                    <div class="frontside">
                      <div class="investor-card" data-controller="favorite">
                        <div class="investor-card-profile">

                          <%# CHANGE THIS - IT'S STATIC IMG ATM %>
                          <% if investor.photo.key.nil? %>
                            <% investor_img = "https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
                          <% else %>
                            <% investor_img = cl_image_path(investor.photo.key)  %>
                          <% end %>
                          <%# CHANGE THIS - IT'S STATIC IMG ATM %>
                          <div class="investor-card-img" style="background-image: url(<%= investor_img %>);"></div>

                          <%# this is to store the damn investor name and title %>
                          <div class="investor-card-title">
                            <h3 class="s extra-bold"><%= investor.first_name %> <%= investor.last_name %></h3>
                            <p class="body semi-bold"><%= investor.company_name %></p>
                          </div>

                          <%# this is to store the sectors of each investor %>
                          <div class="investor-card-sectors">
                            <% investor.sectors.each do |sector| %>
                              <div class="sector-tag caption-s semi-bold">
                                <%= sector.name %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <%# Structure for backside of each investor card %>
                    <div class="backside">
                      <div class="investor-card" data-controller="favorite">
                        <div class="investor-card-profile">
                          <div class="investor-card-title">
                            <h3 class="s extra-bold"><%= investor.company_name %></h3>
                            <p class="body regular"><%= investor.company_description %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <%# End of individual card layout %>

            <% end %>
          </div>
           <% else %>
          <div class="investors-card-deck">
            <% @filter_investors.each do |investor| %>
              <%= render "modal", investor: investor %>
              <div class="row g-2 flex justify-content-between" data-search-investors-target="list">
                <div class="col-md-2">
              <%# Start of individual card layout %>
              <a data-bs-toggle="modal" data-bs-target=<%= "#investor-#{investor.id}" %>>
                <div class="image-flip">
                  <div class="mainflip flip-0">

                    <%# Structure for frontside of each investor card %>
                    <div class="frontside">
                      <div class="investor-card" data-controller="favorite">
                        <div class="investor-card-profile">
                            <% if investor.photo.key.nil? %>
                              <% investor_img = "https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
                            <% else %>
                              <% investor_img = cl_image_path(investor.photo.key)  %>
                            <% end %>
                          <%# CHANGE THIS - IT'S STATIC IMG ATM %>
                          <div class="investor-card-img" style="background-image: url(<%= investor_img %>);"></div>

                          <%# this is to store the damn investor name and title %>
                          <div class="investor-card-title">
                            <h3 class="s extra-bold"><%= investor.first_name %> <%= investor.last_name %></h3>
                            <p class="body semi-bold"><%= investor.company_name %></p>
                          </div>

                          <%# this is to store the sectors of each investor %>
                          <div class="investor-card-sectors">
                            <% investor.sectors.each do |sector| %>
                              <div class="sector-tag caption-s semi-bold">
                                <%= sector.name %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <%# Structure for backside of each investor card %>
                    <div class="backside">
                      <div class="investor-card" data-controller="favorite">
                        <div class="investor-card-profile">

                          <div class="investor-card-title">
                            <h3 class="s extra-bold"><%= investor.company_name %></h3>
                            <p class="body regular"><%= investor.company_description %></p>
                          </div>
                          <div class="text-center py-5">
                            <%= link_to favorite_investor_path(investor), data: {turbo_method: :post, action: "click->favorite#update"} do %>
                              <i class="fa-bookmark <%= current_user.favorited?(investor) ? "fa-solid" : "fa-regular" %>" data-favorite-target="heart"></i>
                            <% end %>
                          </div>



                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <%# End of individual card layout %>

                </div>
              </div>

            <% end %>
          </div>

        <% end %>

    <% end %>
  </div>
</div>

<% if false %>
  <div>
    <%= link_to favorite_investor_path(investor), data: { turbo_method: :post, action: "click->favorite#update" } do %>
    <i class="fa-bookmark <%= current_user.favorited?(investor) ? "fa-solid" : "fa-regular" %>" data-favorite-target="heart"></i>
    <% end %>
  </div>
<% end %>
