<div class="container" data-controller="search-investors">
  <div class="row flex justify-content-between my-3">
    <div class="col-md-6">
      <%= form_with url: investors_path, method: :get, html: {class:
          "d-flex w-80", data: {search_investors_target: "form"}} do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an investor",
        data: {
          search_investors_target: "input",}
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% if params[:query].present? %>
      <p><%= Investor.search_by_company_name_and_company_description(params[:query]).count %>
      <%= Investor.search_by_company_name_and_company_description(params[:query]).count > 1 ? "results" : "result" %> for
      "<%= params[:query] %>"
      </p>
    <% end %>
  </div>

  <div class="row" data-search-investors-target="list">
    <% @investors.each do |investor| %>
      <div class="col-sm-4 g-2">
        <div class="card h-100">
          <% if user_signed_in? %>
          <div class="card-body" data-controller="favorite">
            <%= link_to favorite_investor_path(investor), data: {turbo_method: :post, action: "click->favorite#update"} do %>
              <i class="fa-bookmark <%= current_user.favorited?(investor) ? "fa-solid" : "fa-regular" %>" data-favorite-target="heart"></i>
            <% end %>
          <% end %>
            <h5 class="card-title"><strong><%= investor.company_name %></strong></h5>
            <p class="card-text"><%= investor.company_description %></p>
            <%# <p class="card-text text-warning">
            <% investor.sectors.take(1).each do |sector| %>
              <%# <strong><%= sector.name %>
            <div class="card-bottom flex text-center">
              <a href= <%= "/investors/#{investor.id}" %> class="btn btn-primary">Know more</a>
              <a href= <%= "/investors/#{investor.id}/edit" %> class="btn btn-primary">Edit</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<%# <%= pagy_nav(@pagy) %>
