<div class="container founder-form">
  <%= simple_form_for [@founder] do |f|, data: { insert_in_list_target: "form", action: "submit->insert-in-list#send"}%>
    <%= f.input :company_name, placeholder: ''%>
    <%= f.input :company_description, placeholder: ''%>
    <%= f.input :company_UEN, label: "Company UEN", placeholder: '123456789H' %>
    <%= f.input :company_email, placeholder: 'abcd_1234@gmail.com' %>
    <%= f.input :funding_stage, collection: Founder::STAGE, include_hidden: false, input_html: { data: { controller: "tom-select" }}, placeholder: '' %>
    <%= f.input :date_incorporated, as: :date, start_year: Date.today.year - 90,
                                    end_year: Date.today.year, discard_day: false,
                                    order: [:day, :month, :year]  %>
    <%= f.association :sectors, include_hidden: false, input_html: { data: { controller: "tom-select" }} %>
    <%= f.input :photo, as: :file %>
    <div class="submission-field">
    <%= f.submit class: "btn btn-outline-primary fw-bold" %>
  <% end %>
  <a href="/" class="btn btn-outline-primary fw-bold">Back</a>
  </div>
</div>
