<div class="container">
  <%= simple_form_for [@founder] do |f| %>
    <%= f.input :company_name, placeholder: ''%>
    <%= f.input :company_description, placeholder: ''%>
    <%= f.input :company_UEN, placeholder: '123456789H' %>
    <%= f.input :funding_stage, placeholder: '' %>
    <%= f.input :date_incorporated, placeholder: '' %>
    <%= f.association :sectors, collection: Sector.all, include_hidden: false, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}} %>
    <%= f.submit class: 'btn btn-primary text-dark fw-bold' %>
  <% end %>
  <a href="/">Back</a>
</div>
