<%# <div class="max-width-container">
  <div class="container founder-form-wrapper">
    <h1>Fill in founders details</h1>
    <%= render "form" %>
  <%# </div>
</div>  %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-5 p-0">
      <div class="text-on-image2">
        <h1>Almost there!</h1>
        <p>We just need abit more details</p>
      </div>
        <div class="container founder-form1">
          <%= simple_form_for [@founder] do |f| %>
          <%= f.input :company_name, placeholder: ''%>
          <%= f.input :company_UEN, label: "Company UEN", placeholder: '123456789H' %>
          <%= f.input :company_email, placeholder: 'abcd_1234@gmail.com' %>
          <%= f.input :date_incorporated, as: :date, start_year: Date.today.year - 90,
                                    end_year: Date.today.year, discard_day: false,
                                    order: [:day, :month, :year]  %>
          <%= f.input :photo, as: :file %>
          <% end %>
        </div>
    </div>

    <div class="col-xs-12 col-md-7">
      <div class="form-login">
        <div class="container-founder">
          <%= simple_form_for [@founder] do |f| %>
            <%= f.input :company_description, placeholder: ''%>
            <%= f.association :sectors, include_hidden: false, input_html: { data: { controller: "tom-select" }} %>
             <%= f.input :funding_stage, collection: Founder::STAGE, include_hidden: false, input_html: { data: { controller: "tom-select" }}, placeholder: '' %>
            <div class="submission-field">
              <%= f.submit class: "btn btn-outline-primary fw-bold" %>
              <% end %>
              <a href="/" class="btn btn-outline-primary fw-bold">Back</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
