<div class="container">
  <div class="row">
    <%# SHOW ON @FOUNDER %>
    <% if @founder != current_user.founder %>
      <p>Current_connection between you and <%= @founder.user.first_name %>:</p>
        <% if current_user.founder.following?(@founder)%>
          <%= button_to "Unfollow", unfollow_path(@founder) %>
        <% elsif current_user.founder.sent_follow_request_to?(@founder) %>
          <%= button_to "Cancel follow request", cancel_path(@founder) %>
        <% else %>
          <%= button_to "Follow", follow_path(@founder) %>
        <% end %>
    <% end %>

    <%# SHOW ON CURRENT_USER.FOUNDER %>
    <% if current_user.founder %>
      <% current_user.founder.follow_requests.each do |request| %>
        <%= request.followerable.user.email %> wants to follow you
        <%= button_to "Accept", accept_path(request.followerable) %>
        <%= button_to "Decline", decline_path(request.followerable) %>
      <% end %>
    <% end %>
  </div>
</div>

<%# PLEASE DONT REMOVE THIS LINE %>
<% if @founder.user == current_user %>
<div class="main-container" data_controller="insert-in-list" >
  <div class="row">
    <div class="col-md-4 founder" data-insert-in-list-target="favourite investors" data-insert-in-list-position-value="beforebegin">
      <%# <div class="cards-founders"> %>
      <h3><strong>Founder's Name: </strong><%= @founder.user.first_name %> <%= @founder.user.last_name %></h3>
      <h3><strong>Company:</strong> <%= @founder.company_name %></h3><br>
      <p><strong>Description:</strong> <%= @founder.company_description %></p>

      <div class="d-flex flex-column">
        <p><strong>Company Email:</strong> <%= @founder.company_email %></p>
        <p><strong>Company UEN: </strong> <%= @founder.company_UEN %></p>
        <p><strong>Company Funding Stage:</strong> <%= @founder.funding_stage %></p>
        <p><strong>Company Date Incorporated:</strong> <%= @founder.date_incorporated %></p>
      </div><hr>

      <p><strong><%= @founder.user.first_name%>'s followers:</strong></p>
        <% current_user.founder.followers.each do |founder| %>
        <p><%= link_to founder.user.email, founder_path(founder) %> <%= button_to "Unfollow this user", unfollow_path(founder) %></p>
        <% end %>

      <h3><strong>My Favourites</strong></h3>
      <p>It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like
      readable English. Many desktop publishing packages and web page editors
      </p><br><br>
    </div>
<% end %>

<% if @founder.user == current_user %>
    <div class="col-md-8 founder">
        <div class="container">
          <div class="row text-center">
            <h3>Recommendations (Investors'profile) based on your sectors below:</h3><br><br>
            <div class="col d-flex justify-content-around">
              <% @founder.sectors.each do |sector| %>
                <a class="btn btn-ghost" href="#"><%= sector.name %></a>
              <% end %>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-md-3 g-3 m-2">
            <% @filter_investors.take(6).each do |investor| %>
              <div class="col">
                <div class="card h-100">
                  <%# <img src="..." class="card-img-top" alt="..."> %>
                  <div class="card-body" data-controller="favorite">

                    <%= link_to favorite_investor_path(investor), data: {turbo_method: :post, action: "click->favorite#update"} do %>
                    <i class="fa-bookmark <%= current_user.favorited?(investor) ? "fa-solid" : "fa-regular" %>" data-favorite-target="bookmark"></i>
                    <% end %>

                    <h5 class="card-title"><%= investor.company_name %></h5>
                    <p class="card-text"><%= investor.company_description %></p>
                    <ul>
                      <% investor.sectors.each do |sector| %>
                        <li><p><%= sector.name %></p></li>
                      <% end %>
                    </ul>
                    <a class="btn btn-flat" href=<%= "/investors/#{investor.id}" %>>Read more</a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
<% end %>

<%# PLEASE DONT REMOVE THIS LINE %>
<% if @founder.user == current_user %>
      <div style="text-align: center;">
        <h3>Recommendations | Others' founder profile</h3>
      </div>
        <div class="row row-cols-1 row-cols-md-3 g-3 m-2">
          <% @founders = Founder.all %>
          <%# <% @founders.to_a.keep_if { |founder| founder.id != current_user.founder.id} %>
          <% @founders.each do |founder| %>
            <div class="col">
              <div class="card h-100">
                <%# <img src="..." class="card-img-top" alt="..."> %>
                <%# <%= cl_image_tag(asset_path(founder.photo.key), class:"avatar-founder") %>
                <% if founder.photo.key.nil? %>
                  <img src="https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <% else %>
                  <%= cl_image_tag founder.photo.key, height: 300, width: 530, crop: :fill %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= founder.company_name %></h5>
                  <p class="card-text"><%= founder.company_description %></p>
                    <ul>
                    <% founder.sectors.each do |sector| %>
                      <li><p><%= sector.name %></p></li>
                    <% end %>
                    </ul>
                <div class="button-founder">
                  <a class="btn btn-flat founder" href=<%= "/founders/#{founder.id}" %>>Read more</a>
                  <a class="btn btn-flat founder" href=<%= "/founders/#{founder.id}" %>>Connect</a>
                </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<%# PLEASE DONT REMOVE THIS LINE %>
<% if @founder.user != current_user %>
<div class="main-container">
  <div class="row">
    <div class="col-md-4 founder">
      <%# <div class="cards-founders"> %>
      <h3><strong>Founder's Name: </strong><%= @founder.user.first_name %> <%= @founder.user.last_name %></h3>
      <h3><strong>Company:</strong> <%= @founder.company_name %></h3><br>
      <p><strong>Description:</strong> <%= @founder.company_description %></p>

      <div class="d-flex flex-column">
        <p><strong>Company Email:</strong> <%= @founder.company_email %></p>
        <p><strong>Company UEN: </strong> <%= @founder.company_UEN %></p>
        <p><strong>Company Funding Stage:</strong> <%= @founder.funding_stage %></p>
        <p><strong>Company Date Incorporated:</strong> <%= @founder.date_incorporated %></p>
      </div><hr>

      <h3><strong>My Favourites</strong></h3>
      <p>It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like
      readable English. Many desktop publishing packages and web page editors
      </p>
      <div class="favorites">
        <% @favorite_investors.each do |investor| %>
          <%= render 'investor', investor: investor %>
        <% end %>
      </div>

      <br><br>
    </div>
  </div>
</div>
<% end %>
