<h1>This is founder/show</h1>

 <%= founder.company_name %>
 <%= founder.company_description %>
 <%= founder.company_email %>
 <%= founder.company_UEN %>
 <%= founder.funding_stage %>
 <%= founder.date_incorporated %>
