<%# PLEASE DONT REMOVE THIS LINE %>
<% if @founder.user == current_user %>
<div class="container-fluid" style="background-color: #C7AA74;">
  <div class="row">
    <div class="col-md-4 m-10 p-5" data-controller="favorite">
      <div class="position-sticky top-0">
        <div class="text-white text-center g-5 shadow-5">
          <% if current_user.founder.photo.key.nil? %>
            <p><img src="https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></p>
          <% else %>
            <%= cl_image_tag current_user.founder.photo.key, height: 350, width: 350, crop: :fill %>
          <% end %>
          <br><br>
          <a href="#detail"><strong>Company Details</strong></a>
          <br><br>
          <a href="#favorite"><strong>Favorites (Investors)</strong></a>
          <br><br>
          <a href="#follow"><strong>Followings (Founder)</strong></a>
          <br><br>
          <a href="#recommendation"><strong>Recommendations (Founders)</strong></a>
        </div>
        <hr>
        <div>
          <p class="text-white text-center fw-bold">Followers:</p>
          <ul>
            <% current_user.founder.followers.each do |founder| %>
              <li>
                <%= link_to founder.company_email, founder_path(founder) %>
              </li>
            <% end %>
          </ul>
        </div>
        <hr>
        <div>
          <p class="text-white text-center fw-bold">Upcoming Request:</p>
        <%# SHOW ON CURRENT_USER.FOUNDER %>
          <% if current_user.founder %>
            <% current_user.founder.follow_requests.each do |request| %>
              <%= request.followerable.user.email %> wants to follow you
              <%= button_to "Accept", accept_path(request.followerable) %>
              <%= button_to "Decline", decline_path(request.followerable) %>
            <% end %>
          <% end %>
        </div>
        <%# PLEASE DONT REMOVE THIS LINE %>
        <% if @founder != current_user.founder %>
          <p>Current_connection between you and <%= @founder.user.first_name %>:</p>
            <% if current_user.founder.following?(@founder)%>
              <%= button_to "Unfollow", unfollow_path(@founder) %>
            <% elsif current_user.founder.sent_follow_request_to?(@founder) %>
              <%= button_to "Cancel follow request", cancel_path(@founder) %>
            <% else %>
              <%= button_to "Follow", follow_path(@founder) %>
            <% end %>
        <% end %>


        </div>
      </div>
    <div class="col-md-8 m-10 align-items-center" data-controller="favorite">

      <div class="row vh-50" id="detail">
        <section class="py-5 gy-5 my-5 text-center text-white shadow-5">
          <h2>Company Details</h2>
          <hr>
          <p class="card-text text-center"><strong><span style="color:#482728;">Company Description</span></strong><br>
          <%= @founder.company_description %></p>
            <div class="d-flex justify-content-between">
              <p class="card-text text-center"><strong><span style="color:#482728;">Company UEN</span></strong><br>
              <%= @founder.company_UEN %></p>
              <p class="card-text text-center"><strong><span style="color:#482728;">Company Funding Stage</strong></span><br>
              <%= @founder.funding_stage %></p>
              <p class="card-text text-center"><strong><span style="color:#482728;">Company UEN</strong></span><br>
              <%= @founder.company_UEN %></p>
            </div>
              <p class="card-text text-center"><strong><span style="color:#482728;">Company Date Incorporated</strong></span><br>
              <%= @founder.date_incorporated %></p>
        </section>
      </div>

      <div class="row vh-50" id="favorite">
        <section class="py-5 gy-5 my-5 text-center text-white shadow-5">
              <h2>Favorites (Investors)</h2>
              <hr>
              <% unless !(current_user.all_favorited.empty?) %>
                <p class="text-end fw-bold"><%= link_to "See All", all_path, class:"text-white" %></p>
              <% end %>
              <% if current_user.all_favorited.empty? %>
                <p class="fw-bold display-7">Oh No, you dont have favorite investors! <br>
                <%= link_to "See All Investors Here", all_path %></p>
              <% else %>
                <div class="row g-3 text-dark">
                  <% current_user.all_favorited.each do |favorite| %>
                    <div class="col-md-4">
                      <div class="card h-100 d-flex align-items-center my-3 py-3 bg-neutral">
                        <% if favorite.photo.key.nil? %>
                          <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar-large" %>
                        <% else %>
                          <%= cl_image_tag favorite.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                        <% end %>
                        <br>
                        <p><%= favorite.company_name %>(<%= favorite.first_name %>)</p>
                        <span class="btn btn-primary fw-bold text-white"><%= link_to "Chat", investor_chatrooms_path(favorite.id), class: "text-white"%></span>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
        </section>

      </div>

      <div class="row vh-50" id="follow">
        <section class="py-5 gy-5 my-5 text-center text-white shadow-5">
          <h2>Following (Founders)</h2>
          <hr>
          <% if current_user.founder.followers.empty? %>
            <p class="fw-bold display-7">Oh No, you dont have any followers/following</p>
          <% else %>
            <div class="row g-3">
              <% current_user.founder.followers.each do |founder| %>
                <div class="col-md-4">
                  <div class="card h-100 d-flex align-items-center">
                    <% if founder.photo.key.nil? %>
                      <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar-large" %>
                    <% else %>
                      <%= cl_image_tag founder.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                    <% end %>
                    <br>
                    <p><%= link_to founder.user.email, founder_path(founder) %> <%= button_to "Unfollow this user", unfollow_path(founder) %></p>
                    <span class="btn btn-primary fw-bold text-white"><%= link_to "Chat", investor_chatrooms_path(favorite.id) %></span>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </section>
      </div>

      <div class="row vh-50" id="recommendation">
        <section class="py-5 gy-5 my-5 text-center text-white shadow-5">
          <h2>Also visit</h2>
          <hr>
            <div class="row g-3">
              <% @filter_founders.each do |founder| %>
                <div class="col-md-4">
                  <div class="card h-100 w-100 text-dark" style="width: 18rem;">
                    <% if founder.photo.key.nil? %>
                      <img class="card-img-top" style="height: 200px; width: 400px"src="https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                    <% else %>
                      <%= cl_image_tag founder.photo.key, height: 200, width: 200, class: "card-img-top"%>
                    <% end %>
                    <div class="card-body">
                      <h5 class="card-title"><%= founder.company_name %></h5>
                      <ul>
                      <% founder.sectors.each do |sector| %>
                        <li><p><%= sector.name %></p></li>
                      <% end %>
                      </ul>
                      <a class="btn btn-flat" href=<%= "/founders/#{founder.id}" %>>Read more</a>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>
<% end %>


<%# PLEASE DONT REMOVE THIS LINE %>
<% if @founder.user != current_user %>
  <div class="container-fluid" style="background-color: #C7AA74;">
  <div class="row">
    <div class="col-md-4 m-10 p-5" data-controller="favorite">
      <div class="position-sticky top-0">
        <div class="text-white text-center g-5 shadow-5">
          <% if current_user.founder.photo.key.nil? %>
            <p><img src="https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></p>
          <% else %>
            <%= cl_image_tag current_user.founder.photo.key, height: 350, width: 350, crop: :fill %>
          <% end %>
          <br><br>
          <a href="#detail"><strong>Company Details</strong></a>
          <br><br>
          <a href="#favorite"><strong>Favorites (Investors)</strong></a>
          <br><br>
          <a href="#follow"><strong>Followings (Founder)</strong></a>
          <br><br>
          <a href="#recommendation"><strong>Recommendations (Founders)</strong></a>
        </div>
        <hr>
        <div>
          <p class="text-white text-center fw-bold">Followers:</p>
          <ul>
            <% current_user.founder.followers.each do |founder| %>
              <li>
                <%= link_to founder.company_email, founder_path(founder) %>
              </li>
            <% end %>
          </ul>
        </div>
        <hr>
        <div>
          <p class="text-white text-center fw-bold">Upcoming Request:</p>
        <%# SHOW ON CURRENT_USER.FOUNDER %>
          <% if current_user.founder %>
            <% current_user.founder.follow_requests.each do |request| %>
              <%= request.followerable.user.email %> wants to follow you
              <%= button_to "Accept", accept_path(request.followerable) %>
              <%= button_to "Decline", decline_path(request.followerable) %>
            <% end %>
          <% end %>
        </div>
        <%# PLEASE DONT REMOVE THIS LINE %>
        <% if @founder != current_user.founder %>
          <p>Current_connection between you and <%= @founder.user.first_name %>:</p>
            <% if current_user.founder.following?(@founder)%>
              <%= button_to "Unfollow", unfollow_path(@founder) %>
            <% elsif current_user.founder.sent_follow_request_to?(@founder) %>
              <%= button_to "Cancel follow request", cancel_path(@founder) %>
            <% else %>
              <%= button_to "Follow", follow_path(@founder) %>
            <% end %>
        <% end %>


        </div>
      </div>
    <div class="col-md-8 m-10 align-items-center" data-controller="favorite">

      <div class="row vh-50" id="detail">
        <section class="py-5 gy-5 my-5 text-center text-white shadow-5">
          <h2>Company Details</h2>
          <hr>
          <p class="card-text text-center"><strong><span style="color:#482728;">Company Description</span></strong><br>
          <%= @founder.company_description %></p>
            <div class="d-flex justify-content-between">
              <p class="card-text text-center"><strong><span style="color:#482728;">Company UEN</span></strong><br>
              <%= @founder.company_UEN %></p>
              <p class="card-text text-center"><strong><span style="color:#482728;">Company Funding Stage</strong></span><br>
              <%= @founder.funding_stage %></p>
              <p class="card-text text-center"><strong><span style="color:#482728;">Company UEN</strong></span><br>
              <%= @founder.company_UEN %></p>
            </div>
              <p class="card-text text-center"><strong><span style="color:#482728;">Company Date Incorporated</strong></span><br>
              <%= @founder.date_incorporated %></p>
        </section>
      </div>

      <div class="row vh-50" id="favorite">
        <section class="py-5 gy-5 my-5 text-center text-white shadow-5">
              <h2>Favorites (Investors)</h2>
              <hr>
              <% unless !(current_user.all_favorited.empty?) %>
                <p class="text-end fw-bold"><%= link_to "See All", all_path, class:"text-white" %></p>
              <% end %>
              <% if current_user.all_favorited.empty? %>
                <p class="fw-bold display-7">Oh No, you dont have favorite investors! <br>
                <%= link_to "See All Investors Here", all_path %></p>
              <% else %>
                <div class="row g-3 text-dark">
                  <% current_user.all_favorited.each do |favorite| %>
                    <div class="col-md-4">
                      <div class="card h-100 d-flex align-items-center my-3 py-3 bg-neutral">
                        <% if favorite.photo.key.nil? %>
                          <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar-large" %>
                        <% else %>
                          <%= cl_image_tag favorite.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                        <% end %>
                        <br>
                        <p><%= favorite.company_name %>(<%= favorite.first_name %>)</p>
                        <span class="btn btn-primary fw-bold text-white"><%= link_to "Chat", investor_chatrooms_path(favorite.id), class: "text-white"%></span>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
        </section>

      </div>

      <div class="row vh-50" id="follow">
        <section class="py-5 gy-5 my-5 text-center text-white shadow-5">
          <h2>Following (Founders)</h2>
          <hr>
          <% if current_user.founder.followers.empty? %>
            <p class="fw-bold display-7">Oh No, you dont have any followers/following</p>
          <% else %>
            <div class="row g-3">
              <% current_user.founder.followers.each do |founder| %>
                <div class="col-md-4">
                  <div class="card h-100 d-flex align-items-center">
                    <% if founder.photo.key.nil? %>
                      <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar-large" %>
                    <% else %>
                      <%= cl_image_tag founder.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                    <% end %>
                    <br>
                    <p><%= link_to founder.user.email, founder_path(founder) %> <%= button_to "Unfollow this user", unfollow_path(founder) %></p>
                    <span class="btn btn-primary fw-bold text-white"><%= link_to "Chat", investor_chatrooms_path(favorite.id) %></span>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </section>
      </div>

      <div class="row vh-50" id="recommendation">
        <section class="py-5 gy-5 my-5 text-center text-white shadow-5">
          <h2>Also visit</h2>
          <hr>
            <div class="row g-3">
              <% @filter_founders.each do |founder| %>
                <div class="col-md-4">
                  <div class="card h-100 w-100 text-dark" style="width: 18rem;">
                    <% if founder.photo.key.nil? %>
                      <img class="card-img-top" style="height: 200px; width: 400px"src="https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                    <% else %>
                      <%= cl_image_tag founder.photo.key, height: 200, width: 200, class: "card-img-top"%>
                    <% end %>
                    <div class="card-body">
                      <h5 class="card-title"><%= founder.company_name %></h5>
                      <ul>
                      <% founder.sectors.each do |sector| %>
                        <li><p><%= sector.name %></p></li>
                      <% end %>
                      </ul>
                      <a class="btn btn-flat" href=<%= "/founders/#{founder.id}" %>>Read more</a>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>
<% end %>
