<%# PLEASE DONT REMOVE THIS LINE %>
<% if @founder.user == current_user %>
<div class="container-fluid" style="background-color: #294C60; font-family:'Righteous'; font-size: 20px;">
  <div class="row">
    <div class="col-md-4 m-10 p-5" data-controller="favorite">
      <div class="position-sticky top-0">
        <div class="text-white text-center g-5 shadow-5" style="background-color:white; border-radius: 25% 68% 20% 40% / 92% 20% 70% 15%;">
          <% if current_user.founder.photo.key.nil? %>
            <span style="height:350px; width: 350px"><img src="https://cdn.dribbble.com/users/10288336/screenshots/17227912/media/f1dd5ba3365edf67744b113fe183c7f9.jpg?compress=1&resize=400x300&vertical=top" alt=""></span>
          <% else %>
            <%= cl_image_tag current_user.founder.photo.key, height: 350, width: 350, crop: :fill %>
          <% end %>
          <br><br>
          <p class="text-dark"><strong><%= current_user.last_name %> <%= current_user.first_name %>(You)</strong></p>
          <a href="#detail"><strong>Company Details</strong></a>
          <br><br>
          <a href="#favorite"><strong>Favorites (Investors)</strong></a>
          <br><br>
          <a href="#recommendation"><strong>Recommendations (Founders)</strong></a>
        </div>

        <% unless current_user.founder.followers.empty? %>
        <hr>
          <div>
            <p class="text-white text-center fw-bold">Followers:</p>
              <% current_user.founder.followers.each do |founder| %>
                <div class="notification">
                  <% if founder.photo.key.nil? %>
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% else %>
                    <%= cl_image_tag founder.photo.key, height: 50, width: 200, crop: :fit, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
                  <% end %>
                  <div class="notification-content">
                    <p><small><%= founder.company_name %> (<%= founder.company_email %>)</small></p>
                    <p><strong><%= founder.company_description.split(", ").first %></strong>...<%= link_to "see more", founder_path(founder) %></p>
                  </div>
                </div>
              <% end %>
          </div>
        <% end %>

        <% unless current_user.founder.follow_requests.empty? && current_user.founder.pending_requests.empty? %>
          <hr>
          <div>

            <p class="text-white text-center fw-bold">Upcoming Request:</p>
          <%# SHOW ON CURRENT_USER.FOUNDER %>
            <% unless current_user.founder.follow_requests.empty? %>
              <div class="notification" style="background-color:#6A6262; color:white;">
                <% current_user.founder.follow_requests.each do |request| %>
                  <% if request.followerable.photo.key.nil? %>
                    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
                  <% else %>
                    <%= cl_image_tag request.followerable.photo.key, height: 200, width: 200, crop: :fill, class:"avatar-large" %>
                  <% end %>
                <% end %>
                <div class="notification-content">
                  <% current_user.founder.follow_requests.each do |request| %>
                    <%= link_to request.followerable.company_name, founder_path(request.followerable), class:"text-success"%> wants to follow you
                  <% end %>
                </div>
                <div class="notification-actions">
                  <% current_user.founder.follow_requests.each do |request| %>
                    <%= button_to "Accept", accept_path(request.followerable)%>
                    <%= button_to "Decline", decline_path(request.followerable) %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <% unless  current_user.founder.pending_requests.empty? %>
              <% current_user.founder.pending_requests.each do |request| %>
                <div class="notification" style="background-color:#9C9990; color:black;">
                  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
                  <div class="notification-content">
                      </p>You sending follow request to <%= link_to request.followable.user.email, founder_path(request.followable), class:"text-dark" %>.</p>
                  </div>
                </div>
              <% end %>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>


    <div class="col-md-8 m-10 align-items-center" data-controller="favorite">

      <div class="row py-5 vh-100 w-75 mx-auto" id="detail">
        <section class="py-5 gy-5  text-center text-black shadow-5" style="background-color: #D0E1D4; border-radius: 10%">
          <div>
            <h2><%= current_user.founder.company_name %></h2>
            <hr>
              <p class="card-text text-center"><strong><span style="color: black;">Company Description</span></strong><br>
              <%= current_user.founder.company_description %></p>
              <p class="card-text text-center"><strong><span style="color: black;">Company UEN</span></strong><br>
              <%= current_user.founder.company_UEN %></p>
              <p class="card-text text-center"><strong><span style="color: black;">Company Funding Stage</strong></span><br>
              <%= current_user.founder.funding_stage %></p>
              <p class="card-text text-center"><strong><span style="color: black;">Company UEN</strong></span><br>
              <%= current_user.founder.company_UEN %></p>
              <p class="card-text text-center"><strong><span style="color: black;">Company Date Incorporated</strong></span><br>
              <%= current_user.founder.date_incorporated %></p>
              <p class="card-text text-center"><strong><span style="color: black;">Sectors</strong></span><br><p>
                <div class="row flex justify-content-around">
                  <% current_user.founder.sectors.each do |sector| %>
                    <div class="col-md-4"><a class="btn btn-ghost" href="#"><%= sector.name %></a></div>
                  <% end %>
                </div>
          </div>
        </section>
      </div>

      <div class="row vh-50 w-75 mx-auto" id="favorite">
        <section class="py-5 gy-5 my-5 text-center text-dark shadow-5" style="background-color: #D0E1D4; border-radius: 10%">
              <h2>Favorites (Investors)</h2>
              <hr>
              <% if current_user.all_favorited.empty? %>
                <p class="fw-bold display-7 text-dark">You dont have favorite investors...<br><%= link_to "See All Investors Here", all_path %></p>
              <% else %>
                <div class="row g-3 text-dark">
                  <span class="text-end text-white"><%= link_to "See All Investors Here", all_path %>
                  <% current_user.all_favorited.each do |favorite| %></span>
                    <div class="col-md-4">
                      <div class="card h-100 d-flex align-items-center my-2 py-2 bg-white">
                        <% if favorite.photo.key.nil? %>
                          <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar-large" %>
                        <% else %>
                          <%= cl_image_tag favorite.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                        <% end %>
                        <br>
                        <p><%= favorite.company_name %>(<%= favorite.first_name %>)</p>
                        <span class="btn btn-dark fw-bold text-white"><%= link_to "Chat", investor_chatrooms_path(favorite.id), class: "text-white"%></span>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
        </section>

      </div>

      <div class="row vh-50 w-75 mx-auto" id="recommendation">
        <section class="py-5 gy-5 my-5 text-center text-dark shadow-5" style="background-color: #D0E1D4; border-radius: 10%">
          <h2>Also visit</h2>
          <hr>
            <div class="row g-3">
              <% @filter_founders.each do |founder| %>
                <div class="col-md-4">
                  <a href= <%= "/founders/#{founder.id}" %>>
                    <div class="card h-100 w-100 text-dark bg-white" style="width: 18rem; font-family:'Righteous'; font-size: 20px;">
                      <% if founder.photo.key.nil? %>
                        <img class="card-img-top" style="height: 200px; width: 400px"src="https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                      <% else %>
                        <%= cl_image_tag founder.photo.key, height: 200, width: 200, class: "card-img-top"%>
                      <% end %>
                      <div class="card-body">
                        <h5 class="card-title"><%= founder.company_name %></h5>

                      </div>
                    </div>
                  </a>
                </div>
              <% end %>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>
<% end %>




<%# PLEASE DONT REMOVE THIS LINE %>
<% if @founder.user != current_user %>
<div class="container-fluid" style="background-color: #EFF2EF;">
  <div class="container" style="background-color:#68A691; border-radius: 34% 66% 49% 51% / 80% 69% 31% 20%;">
    <%= link_to "Back", founder_path(current_user.founder), class:"btn btn-ghost" %>
    <div class="row">
      <div class="text-white text-center g-5 shadow-5">
        <% if @founder.photo.key.nil? %>
            <span style="height:350px; width: 350px"><img src="https://cdn.dribbble.com/users/10288336/screenshots/17227912/media/f1dd5ba3365edf67744b113fe183c7f9.jpg?compress=1&resize=400x300&vertical=top" alt=""></span>
          <% else %>
            <%= cl_image_tag @founder.photo.key, height: 300, width: 300, crop: :fill %>
          <% end %>
        <br><br>
          <p><strong><%= @founder.company_name %>(<%= @founder.user.last_name %> <%= @founder.user.first_name %>)</strong></p>

              <% if current_user.founder.following?(@founder)%>
                <%= link_to "Unfollow", unfollow_path(@founder), class:"btn btn-success text-dark fw-bold" %>
              <% elsif current_user.founder.sent_follow_request_to?(@founder) %>
                <%= link_to "Cancel follow request", cancel_path(@founder), class:"btn btn-success text-dark fw-bold" %>
              <% else %>
                <%= link_to "Follow", follow_path(@founder), class:"btn btn-success text-dark fw-bold" %><span class="fw-bold" style="color:#E1DD8F;"><br>
                *Follow him/her to know more...</span>
              <% end %>

        <br><br>
      </div>
        <%# PLEASE DONT REMOVE THIS LINE %>

      <div class="text-center text-white shadow-5">
        <h2>Company Details</h2>
        <hr>
        <p class="card-text text-center"><strong><span style="color:#482728;">Company Description</span></strong><br>
        <%= @founder.company_description %></p>
          <div class="flex">
            <p class="card-text text-center"><strong><span style="color:#482728;">Company UEN</span></strong><br>
            <%= @founder.company_UEN %></p>
            <p class="card-text text-center"><strong><span style="color:#482728;">Company Funding Stage</strong></span><br>
            <%= @founder.funding_stage %></p>
            <p class="card-text text-center"><strong><span style="color:#482728;">Company UEN</strong></span><br>
            <%= @founder.company_UEN %></p>
          </div>
            <p class="card-text text-center"><strong><span style="color:#482728;">Company Date Incorporated</strong></span><br>
            <%= @founder.date_incorporated %></p>
      </div>

      <% if current_user.founder.following?(@founder) %>
        <div class="container py-3">
          <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item" style="background-color:#0F7173; color:white;">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <%= @founder.company_name %> involving in...
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"> Yet in the long arc of scientific progress it was just one step towards making quantum applications meaningful to human progress.</div>
                </div>
              </div>
              <div class="accordion-item" style="background-color:#0F7173; color:white;">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <%= @founder.company_name %>'s achievements..
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Three years ago, our quantum computers were the first to demonstrate a computational task in which they outperformed the fastest supercomputers.</div>
                </div>
              </div>
              <div class="accordion-item" style="background-color:#0F7173; color:white;">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <%= @founder.company_name %>'s contacts...
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><i class="fa-solid fa-square-phone"></i>p+ 65 01234567</div>
                </div>
              </div>
            </div>
        </div>
      <% else %>
        <hr>
        <p class="text-center fw-bold display-7" style="color:#E1DD8F;">Follow him/her to know more...</p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
