<div class="container">
  <div class="row">
    <% if @founder != current_user.founder %>
      <% if current_user.following?(@founder.user)%>
        <%= button_to "Unfollow", unfollow_path(@founder.user) %>
      <% elsif current_user.sent_follow_request_to?(@founder.user) %>
        <%= button_to "Cancel follow request", cancel_path(@founder.user) %>
      <% else %>
        <%= button_to "Follow", follow_path(@founder.user) %>
      <% end %>
    <% end %>
    <h4><strong>Founder's user_name: </strong><%= @founder.user.first_name %> <%= @founder.user.last_name %></h4>
    <h2><strong>Company:</strong> <%= @founder.company_name %></h2>
    <p><strong>Description:</strong> <%= @founder.company_description %></p>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-between">
      <p><strong>Company Email:</strong> <%= @founder.company_email %></p>
      <p><strong>Company UEN: </strong> <%= @founder.company_UEN %></p>
      <p><strong>Company Funding Stage:</strong> <%= @founder.funding_stage %></p>
      <p><strong>Company Date Incorporated:</strong> <%= @founder.date_incorporated %></p>
    </div>
  </div>
</div>

<hr>
<% if @founder.user == current_user %>
  <div class="container">
    <div class="row text-center">
      <h3>Recommendations (Investors'profile) based on your sectors below:</h3>
        <div class="col d-flex justify-content-around">
          <% @founder.sectors.each do |sector| %>
            <a class="btn btn-ghost" href="#"><%= sector.name %></a>
          <% end %>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
      <% @filter_investors.take(6).each do |investor| %>
      <div class="col">
        <div class="card h-100">
          <%# <img src="..." class="card-img-top" alt="..."> %>
          <div class="card-body">
            <h5 class="card-title"><%= investor.company_name %></h5>
            <p class="card-text"><%= investor.company_description %></p>
            <ul>
            <% investor.sectors.each do |sector| %>
              <li><p><%= sector.name %></p></li>
            <% end %>
            </ul>
            <a class="btn btn-flat" href=<%= "/investors/#{investor.id}" %>>Read more</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>

<hr>

<% if @founder.user == current_user %>
<div class="container">
  <h3>Recommendations | Others' founder profile</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
    <% @founders.each do |founder| %>
    <div class="col">
      <div class="card h-100">
        <%# <img src="..." class="card-img-top" alt="..."> %>
        <div class="card-body">
          <h5 class="card-title"><%= founder.company_name %></h5>
          <p class="card-text"><%= founder.company_description %></p>
          <ul>
          <% founder.sectors.each do |sector| %>
            <li><p><%= sector.name %></p></li>
          <% end %>
          </ul>
          <a class="btn btn-flat" href=<%= "/founders/#{founder.id}" %>>Read more</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
